.container{
	/*background-color: teal;*/
	/*width:70%;*/
	/*left: 15%;*/
	padding-left: 150px;
	padding-right: 150px;
}

#menu_bar{
	display: flex;
	flex-direction: row;
	background-color: grey;
	justify-content: space-between;
}

@media only screen and (max-width: 1080px){
	#menu_bar{
		display: flex;
		flex-direction: column;
	}
	.collapsible{
		background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
	}
}
.menu-tab{
	display: inline-block;
	color: white;

	background-color: #313131;
	padding:10px 20px 20px 20px;
	width:14.2857%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#title{
	text-align: center;
 	/*background-color: green;*/
 	padding-top:20px;
 	padding-bottom: 50px;
}

#photo_box{
	padding:20px;
	background-color: #F2F2F2;
}

#photo-pokemon{
	width: 0 auto;
}

#description{
	/*background-color: red;*/
	padding-bottom: 60px;
}

#right_panel{
	padding-left: 50px;
	padding-right: 50px;
}

#stats_box{
	width:90%;
	background-color: #53A6D3;
	border-radius: 10px;
	/*margin: 10px 0 0 0;*/
	padding: 5px 20px 20px 20px;
}

#stats_1{
	/*background-color: cyan;*/
	width:50%;
}

#stats_2{
	/*background-color: violet;*/
	width:50%;
}

#type{
	/*background-color: orange;*/
}

.type-box{
	text-align: center;
	display: inline-block;
	background-color: purple;
	padding-left: 30px;
	padding-right: 30px;
	width: 30%;
	margin: ;
	border-radius: 10px;
}

#type-box-1{
	background-color: #A5C962;
}

#type-box-2{
	background-color: #B083C4;
}

#menu-1{
	border-bottom: 5px solid red;
}
#menu-2{
	border-bottom: 5px solid blue;
}
#menu-3{
	border-bottom: 5px solid green;
}
#menu-4{
	border-bottom: 5px solid purple;
}
#menu-5{
	border-bottom: 5px solid pink;
}
#menu-6{
	border-bottom: 5px solid teal;
}
#menu-7{
	border-bottom: 5px solid orange;
}